<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="schedule-viewer">
            <div class="schedule">
                <div class="schedule-content">Lorem ipsum</div>
                <div class="schedule-reason">
                    <div class="schedule-endtime">5월 18일 2시 30분</div>
                    <div class="schedule-starts">★★★☆☆</div>
                </div>
            </div>
            <div class="schedule">
                <div class="schedule-content">그리운것은 그리운대로</div>
                <div class="schedule-reason">
                    <div class="schedule-endtime">8월 8일 8시 10분</div>
                    <div class="schedule-starts">★☆☆☆☆</div>
                </div>
            </div>
            <div class="schedule">
                <div class="schedule-content">Lorem ipsum atae tempora saepe repellendus ab, obcaecati sint quaerat?
                    Dolorum, excepturi. Eveniet.</div>
                <div class="schedule-reason">
                    <div class="schedule-endtime">5월 18일 2시 30분</div>
                    <div class="schedule-starts">★★★★☆</div>
                </div>
            </div>
            <div class="schedule">
                <div class="schedule-content">그리운것은 그리운대로</div>
                <div class="schedule-reason">
                    <div class="schedule-endtime">8월 8일 8시 10분</div>
                    <div class="schedule-starts">★☆☆☆☆</div>
                </div>
            </div>
            <div class="schedule">
                <div class="schedule-content">그리운것은 그리운대로</div>
                <div class="schedule-reason">
                    <div class="schedule-endtime">8월 8일 8시 10분</div>
                    <div class="schedule-starts">★☆☆☆☆</div>
                </div>
            </div>
            <div class="schedule">
                <div class="schedule-content">그리운것은 그리운대로</div>
                <div class="schedule-reason">
                    <div class="schedule-endtime">8월 8일 8시 10분</div>
                    <div class="schedule-starts">★☆☆☆☆</div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-root">
        <a href="/write">
            <div class="writeBtn">+</div>
        </a>
    </div>
</body>

</html>