<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="write.css">
    <title>Document</title>
</head>

<body>
    <div class="root">
        <div class="schedule-viewer">
            <div class="schedule">
                <textarea name="content" id=""></textarea>
                <input type="time" name="" id="">
                <input type="submit" value="">
            </div>
        </div>
    </div>
</body>

</html>